body{
    margin:0;
    padding: 0;
    background: #1B244A;
    color: #EEEEEE;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    width: 88%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.setup-panel > *,
.player-panel > *,
.scoreboard-panel > * ,
.player-score> *{ 
    margin:0;
    padding: 0;
}

.setup-panel,
.player-panel,
.players-list,
.player-score { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    text-align: center;
}

.container input[type="text"],
.container select,
.container input:-internal-autofill-selected { 
    color: #F94F6D;
    background: #111111;
    border: none;
    border-radius: .25rem;
}

.setup-panel select {
    padding: 1rem;
    width: 100%;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.75em;;
    text-align: center;
}

.setup-panel select:focus-visible{
    outline: none;
}

.setup-panel #btn-start { 
    display: inline-block;
    margin: 0 auto;
    padding: 1rem 1rem 0.7rem 1rem;
    color: #1B244A;
    background: #96AFF5;
    border: none;
    border-radius: .25rem;
    
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: .8em;
    text-align: center;
    vertical-align: baseline;

    cursor: pointer;
}

.player-panel .list-item{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width:100%;

    font-size: 24px;
}

.player-panel input[type="text"] {  
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    padding: 0 1rem;   
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.75em;;
    text-align: left;
}

.player-panel .list-item > label{
    flex: 1 0 auto;
    min-width: 100px;
}

.player-panel #btn-next { 
    display: inline-block;
    margin: 0 auto;
    padding: 1rem 1rem 0.7rem 1rem;
    color: #1B244A;
    background: #96AFF5;
    border: none;
    border-radius: .25rem;
    
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: .8em;
    text-align: center;
    vertical-align: baseline;

    cursor: pointer;
}

.scoreboard-panel .players-score{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.scoreboard-panel .player-score{
    flex: 1 1 40%;
    max-width: 180px;
}

.scoreboard-panel input[type="text"] { 
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1 / 1;
    padding: 1rem 1rem 0 1rem;   
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 7rem;
    line-height: 7rem;
    text-align: center;
    vertical-align: middle;
}

.scoreboard-panel .score-control{
    display: flex;
    width: 100%;
    gap: 1rem;         
}

.score-control button,
.scoreboard-panel button{
    flex: 1 1 auto;
    
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-align: center;

    color: #9AABD8;
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 5px;

    cursor: pointer; 
}

#reset-section{
    margin: 1rem;
    text-align: center;
}

#reset, #renew{
    display: block;
    margin: 0 auto;
    padding: 1rem 3rem;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;

    color: #9AABD8;
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 10px;

    cursor: pointer;
}

@font-face {
    font-family: "Cursed Timer ULiL";
    src: local("CursedTimerULiL.ttf"),
    url("./fonts/CursedTimerULiL.ttf") format("ttf");
    font-weight: 400;
}

input[type="text"]:focus-visible{
    outline: none;
}
