body{
    margin:0;
    padding: 0;
    background: #1B244A;
}

.container{
    display: flex;
    justify-content: space-around;
    max-width: 600px;

    margin: 0 auto;
}

.container > div{
    flex: 0 1 200px;
}

.container h3{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;

    color: #EEEEEE;
}

.container .scoreDisplay{
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 160px;

    text-align: center;

    color: #F94F6D;
    background: #080001;
    max-width: 200px;
    height: 160px;

    border-radius: 5px;
}


.scoreControl{
    display: flex;
    gap: 1rem;
    padding: 2rem 0;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    
    color: #F94F6D;
       
}

.scoreControl button{
    flex: 1 1 auto;
    
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-align: center;

    color: #9AABD8;
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 5px;

    cursor: pointer; 
}
#reset{
    margin: 1rem;

    text-align: center;
}

#reset button{
    display: block;
    margin: 0 auto;
    padding: 1rem 3rem;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;

    color: #9AABD8;
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 10px;

    cursor: pointer;
}

@font-face {
    font-family: "Cursed Timer ULiL";
    src: local("CursedTimerULiL.ttf"),
    url("/fonts/CursedTimerULiL.ttf") format("ttf");
    font-weight: 400;
}

